<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-multi-player"
    version="2.0.2">

    <name>Multi Player Plugin</name>
    <description>Multi Player Plugin</description>
    <license>Apache 2.0</license>
    <keywords>streaming,radio,libaacdecoder</keywords>
    <repo>https://github.com/EltonFaust/cordova-plugin-multi-player</repo>
    <issue>https://github.com/EltonFaust/cordova-plugin-multi-player/issues</issue>

    <js-module src="www/multiPlayer.js" name="multiPlayer">
        <clobbers target="navigator.multiPlayer" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <framework src="com.google.android.exoplayer:exoplayer:2.6.1" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MultiPlayer">
                <param name="android-package" value="com.eltonfaust.multiplayer.MultiPlayer" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.eltonfaust.multiplayer.RadioPlayerService" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>

        <source-file src="src/android/res/drawable/btn_notification_collapse.png" target-dir="res/drawable/" />
        <source-file src="src/android/res/drawable/btn_playback_pause.png" target-dir="res/drawable/" />
        <source-file src="src/android/res/drawable/btn_playback_play.png" target-dir="res/drawable/" />
        <source-file src="src/android/res/drawable/default_art.png" target-dir="res/drawable/" />
        <source-file src="src/android/res/layout/notification.xml" target-dir="res/layout/" />
        <source-file src="src/android/res/layout/notification_expanded.xml" target-dir="res/layout/" />
        <source-file src="src/android/res/values/style.xml" target-dir="res/values/" />
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values/" />

        <source-file src="src/android/radio/IRadioManager.java" target-dir="src/com/eltonfaust/multiplayer/" />
        <source-file src="src/android/radio/RadioListener.java" target-dir="src/com/eltonfaust/multiplayer/" />
        <source-file src="src/android/radio/RadioManager.java" target-dir="src/com/eltonfaust/multiplayer/" />
        <source-file src="src/android/radio/RadioPlayerService.java" target-dir="src/com/eltonfaust/multiplayer/" />

        <source-file src="src/android/MultiPlayer.java" target-dir="src/com/eltonfaust/multiplayer/" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>audio</string>
            </array>
        </config-file>
        <config-file paSrent="/*" target="config.xml">
            <feature name="MultiPlayer">
                <param name="ios-package" value="MultiPlayer" />
            </feature>
        </config-file>
        <source-file src="src/ios/MultiPlayer.m" />
    </platform>

    <!-- browser -->
    <platform name="browser">
        <js-module src="src/browser/MultiPlayerProxy.js" name="MultiPlayerProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
